<ion-menu [content]="mycontent">

  <ion-header>
    <ion-toolbar>
      <ion-title>{{user}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
   <ion-list>
     <ion-list-header>
       Chat options
     </ion-list-header>
     <button ion-item (click)="newIndividualChat()">
       <ion-icon name="add-circle"></ion-icon>
       Individual chat
     </button>

     <button ion-item (click)="newGroupChat()">
       <ion-icon name="add-circle"></ion-icon>
       New Group
     </button>

     <button ion-item (click)="seeGroupChat()">
       <ion-icon name="people"></ion-icon>
       Groups
     </button>

     <button ion-item (click)="seePeopleChat()">
       <ion-icon name="people"></ion-icon>
       People
     </button>

     <button ion-item (click)="games()">
       <ion-icon name="game-controller-a"></ion-icon>
       Chat Games
     </button>

     <ion-list-header>
       Configurations
     </ion-list-header>

     <button ion-item (click)="settings()">
       <ion-icon name="settings"></ion-icon>
       Account Settings
     </button>

     <button ion-item (click)="devInfo()">
       <ion-icon name="code"></ion-icon>
       Developers Info
     </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-header>
  <ion-navbar #mycontent>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Groups
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let chat of topicChats"> <!-- it should create new modified components -->
    <!-- Put chat image over here -->
    <ion-item (click)="openChat(chat)">
      <ion-avatar item-left>
        <img src={{chat.photo}}>
      </ion-avatar>
      <h2>{{chat.name}}</h2>
      <ion-badge *ngIf="chat.unread_messages_count!=0" item-right>{{chat.unread_messages_count}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
