#main_page {
  background-color: #34495e;
  -webkit-box-shadow: 3px 0px 5px -2px #32394A;
  box-shadow: 3px 0px 5px -2px #32394A;
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
